{% extends ":"~template~":base.html.twig" %}
{% block content %}
<nav id="ac-globalnav" class="js no-touch" data-section-wrapper="1">
  <div class="ac-gn-content" data-section="1">
    <div data-slot-container="1">
      <div data-slot="text">
        <img class="logo" src="{{getAssetUrl('themes/'~template~'/assets/icon_apple.svg')}}">
      </div>
    </div>
  </div>
</nav>
<main id="main" class="main" role="main" data-section-wrapper="1">
  <section class="section section-tradeup section-hero" data-section="1">
    <div class="section-content">
      <div class="row">
        <div class="column large-centered large-8 medium-11 small-12" data-slot-container="1">
          <div data-slot="text">
            <h1 class="hero-headline">Get the latest Apple media, right in your inbox.</h1>
          </div>
        </div>
        <div class="column large-centered large-10 medium-10 small-12" data-slot-container="1">
          <div data-slot="text">
            <p class="copy">Simply tell us about your current Mac or PC to get an estimate. Then&nbsp;mail in your computer for free and choose how you’d like&nbsp;to&nbsp;receive your credit – with an Apple Store Gift Card, a Visa gift card, or a deposit in your PayPal account. It’s&nbsp;that&nbsp;easy.</p>
          </div>
        </div>
        <div class="column large-12 small-12" data-slot-container="1">
          <div data-slot="text">
            <figure class="image-trade-in"></figure>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer id="ac-globalfooter" class="ac-globalfooter js" lang="en-US" data-analytics-region="global footer" role="contentinfo" aria-labelledby="ac-gf-label" data-section-wrapper="1">
  <div class="ac-gf-content" data-section="1">
    <section class="ac-gf-footer">
      <div class="ac-gf-footer-shop" x-ms-format-detection="none" data-slot-container="1">
        <div data-slot="text">
          More ways to shop: Visit an <a href="/retail/">Apple Store</a>, <span class="nowrap">call 1-800-MY-APPLE, or <a href="https://locate.apple.com/">find a reseller</a></span>.
        </div>
      </div>
      <div class="ac-gf-footer-locale" data-slot-container="1">
        <div data-slot="text">
          <a class="ac-gf-footer-locale-link" href="//www.apple.com/choose-your-country/" title="Choose your country or region" aria-label="United States. Choose your country or region"><span class="ac-gf-footer-locale-flag" data-hires="false"></span>United States</a>
        </div>
      </div>
      <div class="ac-gf-footer-legal" data-slot-container="1">
        <div data-slot="text">
          <div class="ac-gf-footer-legal-copyright">Copyright © 2017 Apple Inc. All rights reserved.</div>
          <div class="ac-gf-footer-legal-links">
            <a class="ac-gf-footer-legal-link" href="//www.apple.com/privacy/privacy-policy/">Privacy Policy</a>
            <a class="ac-gf-footer-legal-link" href="//www.apple.com/legal/internet-services/terms/site.html">Terms of Use</a>
            <a class="ac-gf-footer-legal-link" href="//www.apple.com/us/shop/goto/help/sales_refunds">Sales and Refunds</a>
            <a class="ac-gf-footer-legal-link" href="//www.apple.com/legal/">Legal</a>
            <a class="ac-gf-footer-legal-link" href="//www.apple.com/sitemap/">Site Map</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>
{% endblock %}